<div>
  <h5 class="card-title">Consulta de Funcionários</h5>
  <p class="card-text">Listagem de funcionários cadastrados.</p>
  <hr />
  <table class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Nome do Funcionário</th>
        <th>CPF</th>
        <th>Matrícula</th>
        <th>Data de Admissão</th>
        <th>Empresa</th>
        <th>Operações</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button class="btn btn-primary btn-sm">Editar</button>
          &nbsp;
          <button class="btn btn-danger btn-sm">Excluir</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">Quantidade de funcionários: 0
        </td>
      </tr>
    </tfoot>
  </table>
</div>
