<div>
  <h5 class="card-title">Edição de Funcionários</h5>
  <p class="card-text">Utilize os campos para editar um funcionário.</p>
  <hr />
  <form>
    <div class="row mb-3">
      <div class="col-md-6">
        <label>Nome do funcionário:</label>
        <input type="text" class="form-control" placeholder="Digite aqui" />
      </div>
      <div class="col-md-3">
        <label>CPF:</label>
        <input type="text" class="form-control" placeholder="Digite aqui" />
      </div>
      <div class="col-md-3">
        <label>Matrícula:</label>
        <input type="text" class="form-control" placeholder="Digite aqui" />
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-3">
        <label>Data de admissão:</label>
        <input type="date" class="form-control" />
      </div>
      <div class="col-md-9">
        <label>Selecione a empresa do funcionário:</label>
        <select class="form-select">
          <option value="">Escolha uma opção</option>
        </select>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12">
        <input type="submit" class="btn btn-primary" value="Salvar Alterações" />
      </div>
    </div>
  </form>
</div>
